@font-face {
    font-family: 'MatterRegular';
    src:url('./fonts/Matter-Regular.ttf') format('truetype'); 
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'MeriendaRegular';
    src:url('./fonts/Merienda-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.app-Heading {
    font-family:'MatterRegular';
}